<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h2 >followers</h2>

      <% @users.each do |user| %>

        <h5><%= "Username "%></h5>
        <%= link_to user.name, user_path(user.id), class: "ml-3" %>

      <% end %>
    </div>
  </div>
</div>